.log {
  margin: 0 0 3em;
  padding: 1em 0;
}

.entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
  margin-bottom: 0.8em;
}

.entry.mine {
  flex-direction: row-reverse;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.message {
  position: relative;
  background-color: #ddd;
  padding: 0.5em;
  margin: 0 1em;
  border-radius: 4px;
  max-width: 70%;
}

.message:before {
  position: absolute;
  right: auto;
  bottom: 0.6em;
  left: -12px;
  height: 0;
  content: "";
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}

.entry.mine .message {
  background-color: var(--green);
  color: black;
}

.entry.mine .message:before {
  right: -12px;
  bottom: 0.6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: var(--green);
}

@media screen and (min-width: 800px) {
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
}
